@model CK.Models.SalesParameters;
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var role = ViewBag.Role;
    var username = ViewBag.IsUsername;
    Layout = "~/Views/Shared/_Layout.cshtml";
    // if (role == "Manager")
    // {
    //     Layout = "~/Views/Shared/_Layout.cshtml";
    // }
    // else if (role == "Sales_NewS_Stock_Tender")
    // {
    //     Layout = "~/Views/Shared/_LayoutS_S_T.cshtml";
    // }
    // else if (role == "Sales_NewS_Tender")
    // {
    //     Layout = "~/Views/Shared/_LayoutS_T.cshtml";
    // }
    // else if (role == "TerrManager")
    // {
    //     Layout = "~/Views/Shared/_LayoutS_S_F.cshtml";
    // }
    // else if (role == "Sales_NewS_Stock")
    // {
    //     Layout = "~/Views/Shared/_LayoutS_S.cshtml";
    // }
    // else if (role == "Sales_NewS" || role == "FoodManager")
    // {
    //     Layout = "~/Views/Shared/_LayoutS.cshtml";
    // }
    // else
    // {
    //     Layout = "~/Views/Shared/_Layout2.cshtml";
    // }
}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.jqueryui.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.jqueryui.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.jqueryui.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/searchpanes/2.2.0/css/searchPanes.jqueryui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.jqueryui.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.jqueryui.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/dataTables.searchPanes.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.2.0/js/searchPanes.jqueryui.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <script>
        var preventBack = @Html.Raw(Json.Serialize(ViewData["PreventBack"] ?? false));

        if (preventBack) {
            window.history.pushState(null, "", location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", location.href);
            };
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        .main-footer
        {
            position:relative !important;
        }
    </style>
</head>


<body class="hold-transition @* sidebar-mini layout-fixed *@">
    @*     @ViewBag.Username
    *@
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="wrapper" style="margin-left:0;">
        <div class="content-wrapper" style="margin-left:0;">
            <div class="container-fluid">
                <div class="row mb-2">

                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
            <form id="exportForm" asp-controller="Stock" asp-action="StockFromBranch" method="post">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <section class="col-lg-7 ">


                                    <div class="col-md-3">
                                    <li class="Displayli" style="display:none">
                                                        <select class="FilterSelect form-control" name="Parobj.Store" asp-items="@(new SelectList(ViewBag.VBStore,"Store","Name"))">
                                                            <option value="0">All Stores</option>
                                                        </select>
                                                    </li>
                                                    <input type="hidden" id="selectedStores" name="Parobj.Store" value="Store" />
                                                    <li class="Displayliselect">
                                                        <label>Department:</label>
                                                        <br>
                                        <select class="FilterSelect form-control" name="Parobj.Department" asp-items="@(new SelectList(ViewBag.VBDepartment,"Code","Name"))">
                                            <option value="0">All Department</option>
                                        </select>
                                                    </li>
                                                    @*removed disabled *@
                                            </div>
                            </section>
                            @*                                 <img id="loader-gif" src="/images/loading-23.gif" alt="" />
                            *@@*                                 <img id="loader-gif2" src="/images/200w.gif" alt="" />
                            *@
                        </div>
@*                         <div id="stopwatch" style="display:inline-block">00:00:00</div><br />
 *@                        <button type="submit" id="exportButton" class="btn btn-primary">Execute</button>
                    </div>
                </section>
            </form>
            <div id="salesReportTableWrapper">
                @if (ViewBag.Data != null)
                {
                    <table id="salesReportTable" class="table">
                        <thead>
                            <tr>
                                <th>StoreName</th>
                                <th>Itemlookupcode</th>
                                <th>ItemName</th>
                                 <th>Balance</th>
                                 <th >Quantity</th>
                             </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.Data)
                            {
                                <tr>
                                    <td>@dr.StoreName</td>
                                    <td>@dr.ItemLookupCode</td>
                                    <td>@dr.ItemName</td>
                                    <td><input type="number" value="0" /></td>
                                    <td >@dr.Qty</td>
                                 </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>

    <script>
        var ExportFormat = {

            format: {
                body: function (data, row, column, node) {
                    //check if type is input using jquery
                    return $('input', node).length ?
                        $(node).find('input').val() :
                        data;

                }
            }

        };


        var table = $('#salesReportTable').DataTable({
            pageLength: 20, // Set the number of rows per page
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5', exportOptions: ExportFormat
            }]



        });
       
    </script>
</body>
</html>